.mankini-arrow1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 112px;
	height: 204px;
	@include transform-origin(0 0);

	&.animate {
		@include transition(all .5s $ease-in-out-quad);
	}

	&.off {
		opacity: 0;
	}

	& svg {
		position: relative;
		left: -93px;
		overflow: visible;
	}

	& path {
		stroke: #f00;
		fill: none;
		stroke-width: 7;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}