.mankini-bullets {
	padding: 0 0 10px;
}

.mankini-bullet {
	color: #AB540D;
	font-family: voltaire, sans-serif;
	font-size: 35px;
	margin: 0.8em 1.28em;
	margin-left: 2.39em;
	position: relative;
	opacity: 0;

	&::before {
		content: '➤';
		position: absolute;
		left: -1.58em;
		top: 0.3em;
		font-size: 0.68em;
	}

	@media screen and (min-width: 1919px) {
		font-size: 55px;
	}

	&.animate {
		@include transition(all, .5s, $ease-in-out-quad);
	}

	&.on {
		opacity: 1;
	}
	
	&.previous {
		opacity: 0.5;
	}
}