.mankini-bullets {
	padding: 0 0 10px;
}

.mankini-bullet {
	color: #AB540D;
	font-family: voltaire, sans-serif;
	font-size: 40px;
	margin: 12px 44px;
	margin-left: 83px;
	position: relative;

	&::before {
		content: '➤';
		position: absolute;
		left: -37px;
		top: 7px;
		font-size: 24px;
	}

	&.previous {
		opacity: 0.5;
	}
}