.mankini-bullets {
	padding: 0 0 10px;
}

.mankini-bullet {
	color: #AB540D;
	font-family: voltaire, sans-serif;
	font-size: 35px;
	margin: 28px 44px;
	margin-left: 83px;
	position: relative;
	opacity: 0;

	&::before {
		content: '➤';
		position: absolute;
		left: -37px;
		top: 7px;
		font-size: 24px;
	}

	&.previous {
		opacity: 0.5;
	}

	&.animate {
		@include transition(all, .5s, $ease-in-out-quad);
	}

	&.on {
		opacity: 1;
	}
}