.mankini-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	& img {
		display: block;
		margin: 0 auto;
		opacity: 0;
	}

	&.animate img {
		@include transition(opacity, 0.5s, $ease-out-quad);
	}

	&.on img {
		opacity: 1;
	}

	&.off img {
		opacity: 0;
	}
}

.mankini-image-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 1024px;
	height: 768px;

	@media screen and (min-width: 1900px) {
		width: 1920px;
		height: 1080px;
	}
}