.presentation {
	width: 1024px;
	height: 768px;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-perspective: 823;

	@include hd {
		-webkit-perspective: 1200;
		width: 1920px;
		height: 1080px;
	}
}


* {
	cursor: none !important;
}

.mankini-presentation,
.mankini-luma-fix {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mankini-luma-fix {
	pointer-events: none;
	z-index: 3;
	display: none;
}
