.mankini-sub-heading {
	margin: 0 1.5em 0.3em;
	overflow: hidden;
	font-size: 30px;
	
	.mankini-cols .col:not(:first-child) & {
		margin-left: 0.75em;
	}

	@include hd {
		font-size: 50px;
	}

	& h2 {
		color: #AB540D;
		font-family: voltaire, sans-serif;
		margin: 0;
		font-size: 1em;
		@include transform( translate(0, 100%) );

	}

	&.animate h2 {
		@include transition(all 0.4s $ease-out-quad 0.01s);
	}

	&.on h2 {
		@include transform(none);
	}
}