.mankini-timeline {
  background: url(imgs/paper.png);
  margin: 0 2.3em 1em;
  font-size: 20px;
  padding: 1.1rem 1.1rem;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  opacity: 0;

  & .inner {
    overflow: hidden;
    height: 0;
  }

  @include hd {
    font-size: 33px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    padding: 1.8rem 1.9rem;
  }

  & .timeline-row {
    height: 40px;
    position: relative;
    margin: 6px 0 0;

    @include hd {
      height: 65px;
      margin: 10px 0 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  & .timeline-item {
    @include linear-gradient(180deg, #fff, #e6e6e6);
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    opacity: 0;

    @include hd {
      border-width: 2px;
      border-radius: 10px;
      box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 5px rgba(0, 0, 0, 0.05);
    }

    &:first-child {
      // urgh, layout hack
      -webkit-transform: translateZ(0);
    }
  }

  & .event {
    @include linear-gradient(180deg, #FBF450, #FFC717);
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    @include hd {
      border-width: 2px;
      border-radius: 10px;
      box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 5px rgba(0, 0, 0, 0.05);
    }
  }

  & .stripe .timeline-item:nth-child(even) {
    @include linear-gradient(180deg, #f3f3f3, #ccc);
  }

  & .stripe .timeline-item.event:nth-child(even) {
    @include linear-gradient(180deg, #FBE050, #FF9917);
  }

  & .timeline-label {
    font-size: 1rem;
    line-height: 40px;
    padding: 0 0 0 10px;
    color: #AD6100;
  }
}