.mankini-title {
	height: 100%;
	background: url(imgs/title/bg.jpg) no-repeat;

	& h1 {
		margin: 0;
		position: absolute;
		bottom: 254px;
		right: 29px;
		font-family: share, sans-serif;
		font-size: 127px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
		text-align: right;
		line-height: 1;
	}
}