@font-face {
	font-family: share;
	src: url(fonts/Share-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: share;
	src: url(fonts/Share-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: cabin;
	src: url(fonts/CabinCondensed-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: cabin;
	src: url(fonts/CabinCondensed-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: voltaire;
	src: url(fonts/Voltaire-Regular.ttf);
	font-weight: normal;
}

html {
	background: #000;
	overflow: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	-webkit-perspective: 823;
}

/* Reset */
	ul, ol, li, form, dl, dt, dd {
		padding: 0;
		margin: 0;
		display: block;
	}
	ul, ol {
		list-style: none;
	}
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	img { -ms-interpolation-mode: bicubic; }
/* Text/Fonts */
	body, select, input, textarea {
		color: #000;
	}
	body {
		font:13px/1.231 sans-serif;
		*font-size:small;
	}
	pre, code, kbd, samp { font-family: monospace, sans-serif; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	p {
		line-height: 1.4;
	}
/* Links */
	a img {
		border: 0;
	}
	
	a:link, a:visited {
		text-decoration: none;
		color: #289de9;
	}
	
	a:hover, a:active {
		text-decoration: underline;
	}
/* Forms */
	/* Webkit browsers add a 2px margin outside the chrome of form elements */
	select, input, textarea, button { font:99% sans-serif; margin: 0; }
	
	input, select {
		vertical-align: middle;
		_vertical-align: text-bottom;
	}
	
	input[type="radio"] { vertical-align: text-bottom; }
	input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
	
	textarea, input {
		font-family: arial, sans-serif;
		font-size: 1em;
	}
	
	button.custom {
		padding: 0;
		margin: 0;
		border: 0;
		background: none;
		cursor: pointer;
		overflow: visible;
		vertical-align: middle;
		font-size: 1em;
		width: auto;
	}
	button.custom::-moz-focus-inner { 
		border: 0;
		padding: 0;
	}
	legend { *margin-left: -7px; } 
	
	label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Rounded corners *
	nothing-yet {
		behavior: url(/static/scripts/PIE.htc);
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
/* Gradients *
	nothing-yet {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
		background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#ff000000);

		background: -webkit-gradient(linear, left top, left bottom, from(#f0eff0), to(#e8e7e8));
		background: -moz-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: -o-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: linear-gradient(-90deg, #f0eff0, #e8e7e8);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0eff0, endColorstr=#e8e7e8);
	}
/* Arrows *
	nothing-yet {
		border: 7px dashed #fff;
		border-top-style: solid;
		width: 0; height: 0;
		overflow: hidden;
		border-color: #fff transparent transparent; 
	}
/**/

/********************************************
 ***************** Includes *****************
 ********************************************/

@import 'utils';
@import 'presentation'; 
@import 'slide'; 
@import 'notes';
@import 'bullets';
@import 'arrows';
@import 'heading';
@import 'transitions';
@import 'code';