/* line 1, all.scss */
html {
  background: #000;
  overflow: hidden; }

/* line 6, all.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

/* line 13, all.scss */
body {
  -webkit-perspective: 823; }

/* Reset */
/* line 18, all.scss */
ul, ol, li, form, dl, dt, dd {
  padding: 0;
  margin: 0;
  display: block; }

/* line 23, all.scss */
ul, ol {
  list-style: none; }

/* line 27, all.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 30, all.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* Text/Fonts */
/* line 32, all.scss */
body, select, input, textarea {
  color: #000; }

/* line 35, all.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* line 39, all.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 40, all.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 41, all.scss */
sup {
  top: -0.5em; }

/* line 42, all.scss */
sub {
  bottom: -0.25em; }

/* line 43, all.scss */
p {
  line-height: 1.4; }

/* Links */
/* line 47, all.scss */
a img {
  border: 0; }

/* line 51, all.scss */
a:link, a:visited {
  text-decoration: none;
  color: #289de9; }

/* line 56, all.scss */
a:hover, a:active {
  text-decoration: underline; }

/* Forms */
/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 61, all.scss */
select, input, textarea, button {
  font: 99% sans-serif;
  margin: 0; }

/* line 63, all.scss */
input, select {
  vertical-align: middle;
  _vertical-align: text-bottom; }

/* line 68, all.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 69, all.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 71, all.scss */
textarea, input {
  font-family: arial, sans-serif;
  font-size: 1em; }

/* line 76, all.scss */
button.custom {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  font-size: 1em;
  width: auto; }

/* line 87, all.scss */
button.custom::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 91, all.scss */
legend {
  *margin-left: -7px; }

/* line 93, all.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Rounded corners *
	nothing-yet {
		behavior: url(/static/scripts/PIE.htc);
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
/* Gradients *
	nothing-yet {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
		background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#ff000000);

		background: -webkit-gradient(linear, left top, left bottom, from(#f0eff0), to(#e8e7e8));
		background: -moz-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: -o-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: linear-gradient(-90deg, #f0eff0, #e8e7e8);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0eff0, endColorstr=#e8e7e8);
	}
/* Arrows *
	nothing-yet {
		border: 7px dashed #fff;
		border-top-style: solid;
		width: 0; height: 0;
		overflow: hidden;
		border-color: #fff transparent transparent; 
	}
/**/
/********************************************
 ************* Global functions *************
 ********************************************/
/********************************************
 ***************** Includes *****************
 ********************************************/
/* line 1, _presentation.scss */
.mankini-presentation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d; }

/* line 1, _slide.scss */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("imgs/slide/bg.jpg");
  background-size: 100% 100%; }

/* line 4, _notes.scss */
.notes-page body {
  background: #000;
  color: #fff;
  font: normal 60px/1.4 sans-serif; }

/* line 12, _notes.scss */
.slide-notes li,
.slide-next,
.notes-page time {
  padding: 5px 20px; }

/* line 16, _notes.scss */
.slide-notes li {
  display: list-item; }
  /* line 19, _notes.scss */
  .slide-notes li:nth-child(even) {
    background: #111111; }

/* line 24, _notes.scss */
.slide-next {
  float: right;
  background: #333333;
  margin: 0 0 10px;
  max-width: 33%; }

/* line 31, _notes.scss */
.notes-page time {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  text-align: right;
  background: #333333; }

/* line 1, _bullets.scss */
.mankini-bullet {
  opacity: 0; }

/* line 5, _bullets.scss */
.mankini-bullet.animate {
  -webkit-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -moz-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -ms-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  -o-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; }

/* line 9, _bullets.scss */
.mankini-bullet.on {
  opacity: 1; }

/* line 13, _bullets.scss */
.mankini-bullet.previous {
  opacity: 0.5; }

/* line 1, _arrows.scss */
.mankini-arrow1 {
  width: 112px;
  height: 204px; }

/* line 6, _arrows.scss */
.mankini-arrow1 svg {
  position: relative;
  left: -93px; }

/* line 11, _arrows.scss */
.mankini-arrow1 path {
  stroke: #f00;
  fill: none;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round; }

/* line 19, _arrows.scss */
.tmp-arrow {
  position: absolute;
  top: 0;
  left: 50%; }
