@font-face {
  font-family: share;
  src: url(fonts/Share-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: share;
  src: url(fonts/Share-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: cabin;
  src: url(fonts/CabinCondensed-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: cabin;
  src: url(fonts/CabinCondensed-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: voltaire;
  src: url(fonts/Voltaire-Regular.ttf);
  font-weight: normal; }

/* line 31, all.scss */
html {
  background: #000;
  overflow: hidden; }

/* line 36, all.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

/* line 43, all.scss */
body {
  -webkit-perspective: 823; }

/* Reset */
/* line 48, all.scss */
ul, ol, li, form, dl, dt, dd {
  padding: 0;
  margin: 0;
  display: block; }

/* line 53, all.scss */
ul, ol {
  list-style: none; }

/* line 57, all.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 60, all.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* Text/Fonts */
/* line 62, all.scss */
body, select, input, textarea {
  color: #000; }

/* line 65, all.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* line 69, all.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 70, all.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 71, all.scss */
sup {
  top: -0.5em; }

/* line 72, all.scss */
sub {
  bottom: -0.25em; }

/* line 73, all.scss */
p {
  line-height: 1.4; }

/* Links */
/* line 77, all.scss */
a img {
  border: 0; }

/* line 81, all.scss */
a:link, a:visited {
  text-decoration: none;
  color: #289de9; }

/* line 86, all.scss */
a:hover, a:active {
  text-decoration: underline; }

/* Forms */
/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 91, all.scss */
select, input, textarea, button {
  font: 99% sans-serif;
  margin: 0; }

/* line 93, all.scss */
input, select {
  vertical-align: middle;
  _vertical-align: text-bottom; }

/* line 98, all.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 99, all.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 101, all.scss */
textarea, input {
  font-family: arial, sans-serif;
  font-size: 1em; }

/* line 106, all.scss */
button.custom {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  font-size: 1em;
  width: auto; }

/* line 117, all.scss */
button.custom::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 121, all.scss */
legend {
  *margin-left: -7px; }

/* line 123, all.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Rounded corners *
	nothing-yet {
		behavior: url(/static/scripts/PIE.htc);
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
/* Gradients *
	nothing-yet {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
		background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#ff000000);

		background: -webkit-gradient(linear, left top, left bottom, from(#f0eff0), to(#e8e7e8));
		background: -moz-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: -o-linear-gradient(-90deg, #f0eff0, #e8e7e8);
		background: linear-gradient(-90deg, #f0eff0, #e8e7e8);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0eff0, endColorstr=#e8e7e8);
	}
/* Arrows *
	nothing-yet {
		border: 7px dashed #fff;
		border-top-style: solid;
		width: 0; height: 0;
		overflow: hidden;
		border-color: #fff transparent transparent; 
	}
/**/
/********************************************
 ***************** Includes *****************
 ********************************************/
/********************************************
 ************* Global functions *************
 ********************************************/
/* line 1, _presentation.scss */
body {
  width: 1024px;
  height: 768px;
  overflow: hidden; }

/* line 7, _presentation.scss */
.mankini-presentation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 1, _slide.scss */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: url("imgs/slide/bg.jpg");
  background-size: 100% 100%; }

/* line 4, _notes.scss */
.notes-page body {
  background: #000;
  color: #fff;
  font: normal 60px/1.4 sans-serif;
  width: auto;
  height: 100%; }

/* line 14, _notes.scss */
.slide-notes li,
.slide-next,
.notes-page time {
  padding: 5px 20px; }

/* line 18, _notes.scss */
.slide-notes li {
  display: list-item; }
  /* line 21, _notes.scss */
  .slide-notes li:nth-child(even) {
    background: #111111; }

/* line 26, _notes.scss */
.slide-next {
  float: right;
  background: #333333;
  margin: 0 0 10px;
  max-width: 33%; }

/* line 33, _notes.scss */
.notes-page time {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  text-align: right;
  background: #333333; }

/* line 4, _bullets.scss */
.mankini-bullet {
  opacity: 0;
  color: #AB540D;
  font-family: voltaire, sans-serif;
  font-size: 40px;
  margin: 12px 44px;
  margin-left: 83px;
  position: relative; }
  /* line 13, _bullets.scss */
  .mankini-bullet::before {
    content: '➤';
    position: absolute;
    left: -37px;
    top: 7px;
    font-size: 24px; }
  /* line 21, _bullets.scss */
  .mankini-bullet.animate {
    -webkit-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -moz-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -ms-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -o-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; }
  /* line 25, _bullets.scss */
  .mankini-bullet.on {
    opacity: 1; }
  /* line 29, _bullets.scss */
  .mankini-bullet.previous {
    opacity: 0.5; }

/* line 1, _arrows.scss */
.mankini-arrow1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 204px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0; }

/* line 10, _arrows.scss */
.mankini-arrow1 svg {
  position: relative;
  left: -93px; }

/* line 15, _arrows.scss */
.mankini-arrow1 path {
  stroke: #f00;
  fill: none;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round; }

/* line 1, _heading.scss */
.mankini-heading {
  height: 103px;
  background: url(imgs/heading/bg.png);
  position: relative;
  margin: 0 0 22px; }

/* line 8, _heading.scss */
.mankini-heading .mask {
  height: 100%;
  -webkit-mask-image: url(imgs/heading/mask.png); }

/* line 13, _heading.scss */
.mankini-heading h1 {
  font-family: share, sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 57px;
  position: absolute;
  left: 0;
  bottom: -8px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-2.6deg) translate(-180px, 0);
  -moz-transform: rotate(-2.6deg) translate(-180px, 0);
  -ms-transform: rotate(-2.6deg) translate(-180px, 0);
  -o-transform: rotate(-2.6deg) translate(-180px, 0);
  transform: rotate(-2.6deg) translate(-180px, 0); }

/* line 28, _heading.scss */
.mankini-heading.animate h1 {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -ms-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }

/* line 32, _heading.scss */
.mankini-heading.on h1 {
  -webkit-transform: rotate(-2.6deg) translate(18px, 0);
  -moz-transform: rotate(-2.6deg) translate(18px, 0);
  -ms-transform: rotate(-2.6deg) translate(18px, 0);
  -o-transform: rotate(-2.6deg) translate(18px, 0);
  transform: rotate(-2.6deg) translate(18px, 0); }

/* line 1, _transitions.scss */
.mankini-black-fader {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0; }

/* line 1, _code.scss */
.mankini-code {
  background: url(imgs/paper.png);
  width: 933px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2); }
