/********************************************
 ************* Global functions *************
 ********************************************/
/* line 3, core.scss */
.test-arrow {
  top: 271px;
  left: 340px;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg); }

/* line 9, core.scss */
.paper-test {
  background: url(../../css/imgs/paper.png);
  background-size: 100% 100%; }
